@import url(libs/html5reset-1.6.1.css);

body {
	font: 112.5%/1.5em Georgia, serif;
}

img {
	max-width: 100%;
}

p, figure {
	margin-bottom: 1.5em;
}

/** Titrage **/
h1 {
	font-size: 4em;
	margin-bottom: .2em;
	line-height: 1.2em;
}

h2
{
	font-size: 3em;
	margin-bottom: .2em;
	line-height: 1.2em;
}

/** Structure **/
main {
}

/** Carrousel **/
body{
	overflow: hidden;
	width: 100%;
}
main {
	width: 100%;
	position: relative;
	width: 400%; /* nombre de panneaux * 100% */
	overflow: hidden;

	-moz-animation:carousel 30s infinite;
	-webkit-animation:carousel 30s infinite;
	animation:carousel 30s infinite;
}

main > article
{
	border: 1.5em solid #FFF;
	box-sizing: border-box;
	overflow: hidden;
	min-height: 100vh;
	max-height: 100vh;
	float: left;
	width: 25%; /* 100 / nombre de panneaux **/
}

/* Réglage de l'animation */
@keyframes carousel{
	0%		{ left:0; }
	20%		{ left:0; }
	25%		{ left:-100%; }
	45%		{ left:-100%; }
	50%		{ left:-200%; }
	70%		{ left:-200%; }
	75%		{ left:-300%; }
	95%		{ left:-300%; }
	100%	{ left:0; }
}
