@import url(libs/html5reset-1.6.1.css);

body {
	font: 112.5%/1.5em Georgia, serif;
}

img {
	max-width: 100%;
}

p, figure {
	margin-bottom: 1.5em;
}

/** Titrage **/
h1 {
	font-size: 4em;
	margin-bottom: .2em;
	line-height: 1.2em;
}

h2
{
	font-size: 3em;
	margin-bottom: .2em;
	line-height: 1.2em;
}

/** Structure **/
main {
}

/** Carrousel **/
body{
	overflow: hidden;
	width: 100%;
}
main {
	width: 100%;
	position: relative;
	width: 800%; /* nombre de panneaux * 100% */
	overflow: hidden;

	-moz-animation:carousel 60s infinite;
	-webkit-animation:carousel 60s infinite;
	animation:carousel 60s infinite;
}

.pane
{
	border: 1.5em solid #FFF;
	box-sizing: border-box;
	overflow: hidden;
	min-height: 100vh;
	max-height: 100vh;
	float: left;
	width: 12.5%; /* 100 / nombre de panneaux **/
}

.pane p {
	font-size: 3em;
	line-height: 1.5em;
	font-style: italic;	
}

/* Réglage de l'animation */
@keyframes carousel{
	0%		{ left:0; }
	10%		{ left:0; }
	12%		{ left:-100%; }
	20%		{ left:-100%; }
	22%		{ left:-200%; }
	30%		{ left:-200%; }
	32%		{ left:-300%; }
	40%		{ left:-300%; }
	42%		{ left:-400%; }
	50%		{ left:-400%; }
	52%		{ left:-500%; }
	60%		{ left:-500%; }
	62%		{ left:-600%; }
	70%		{ left:-600%; }
	72%		{ left:-700%; }
	80%		{ left:-700%; }
	100%	{ left:0; }
}
